body {
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

#background {
    background-image: url(assets/paint-splatter-wallpaper-beautiful-paint-splat-wallpaper-c2b7e291a0-wallpapertag-of-the-day-of-paint-splatter-wallpaper-scaled.jpg);
    background-size: cover;
    height: full; 
}

.bottomContainer {

}

.contentContainer1 {
    text-align: center;
}

h1 {
    color: rgb(130, 46, 240);
}

.headShot {
    height: 400px;
    width: 400px;
}

.introContainer {
    opacity: .8;
    text-align: center;
}

.introContainer:hover {
    opacity: 1;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

.navbar {
    
}

#navbar-background {
    background-image: url(assets/navbar_sample_2.jpg);
}

.navbar-brand:hover {
    transform: scale(1.1);
    transition: all ease 900ms;
}

.row-bottom {
    text-align: center;
}

.sticky-footer {
    width: 100%;
    height: 8%;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: rgb(130, 46, 240);
    padding-top: 12px;
    border-top: 8px solid #4aaaa5;
    clear: both;
    margin-top: 185px;
}

@media screen and (max-width: 800px) {
    .sticky-footer {
      display: none
  
    }
  }
